html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
s,
strong,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
input,
figure,
footer,
header,
menu,
nav,
output,
section,
summary,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 14px;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', arial, tahoma, sans-serif;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}